1Original Videos/IMG_1741.MOV
1Original Videos/VID_20191009_172129.mp4
1Original Videos/VID_20191009_170513034.mp4
3Unlabeled Data/VID_20191009_172129/
3Unlabeled Data/VID_20191009_170513034/
3Unlabeled Data/output/
3Unlabeled Data/Mixed Data/
3Unlabeled Data/IMG_1741/
7Data Features/dataFeatures.json
7Data Features/dataMGNFeatures.json
7Data Features/MGNFeatures.csv
4Scripts/Data Labeling Process/imagesDesc2.txt
5Labeled Data/Clases/
5Labeled Data/labeledNew/
5Labeled Data/labeledNewFolders/
.ipynb_checkpoints
.gitattributes
6ReID Models/MLFN Model/reid-data/market1501/Market-1501-v15.09.15/
6ReID Models/MLFN Model/log/
8Data Features and Context Jsons/
9Data Features and Context csv/
6ReID Models/ReID-MGN/weights/
